li {
    list-style: none;
}

.con{
    display: flex;
}

.flex img{
    width: 18%;
    position: relative;
    top: 30px;
}

.content{
    font-size: 30px;
    line-height: 2;
    position: relative;
    left: 10px;
    top: 15px;
}



hr{
    border-width: medium thin;
}

body{
    font-family: 'Kaisei Opti', serif;
 }

