li {
    list-style: none;
}

hr{
    border-width: medium thin;
}

.form_item{
    font-size: 20px;
}

type{
    position: relative;
    left: 20px;
}

body{
    font-family: 'Kaisei Opti', serif;
 }
