li {
    list-style: none;
}

.content{
    top:10px;
    left:30px;
}

.delete-marker {
    list-style: none;
}

.book{
    font-size: 35px;
    line-height: 2;
}

body{
    font-family: "Sawarabi Gothic";
    
 }