li {
    list-style: none;
}

.content{
    position: relative;
    font-size: 30px;
    top: -260px;
    left:230px;
}

.delete-marker {
    list-style: none;
}

body{
    font-family: 'Kaisei Opti', serif;
    
 }

 .box {
    margin       : auto;
    width        : 600px;
    height       : 150px;
    background   : #d8d7d7;
    position: absolute;
    left: 0px;
    top: 100px;
  
  }


.search{
    position: absolute;
    left: 130px;
    top: 40px;
 }


  hr{
    border-width: medium thin;
}