li {
    list-style: none;
}

.content{
    position: relative;
    top: -300px;
    left:250px;
}

.delete-marker {
    list-style: none;
}

body{
    font-family: "Sawarabi Gothic";
    
 }
