li {
    list-style: none;
}

.content{
    position: relative;
    font-size: 30px;
    top: -260px;
    left:230px;
}

.delete-marker {
    list-style: none;
}

body{
    font-family: 'Kaisei Opti', serif;
    
 }

 .box {
    margin       : auto;
    width        : 400px;
    height       : 150px;
    background   : #d8d7d7;
    position: relative;
    left: -430px;
    top: 20px;
  
  }

  hr{
    border-width: medium thin;
}