li {
    list-style: none;
}

.content{
    position: relative;
    top: -260px;
    left:230px;
}

.delete-marker {
    list-style: none;
}

body{
    font-family: 'Kaisei Opti', serif;
    
 }
