li {
    list-style: none;
}

hr {
    border-width: medium thin;
}

.form_item {
    font-size: 30px;
}

form.form_item {
    display: table;
}

div.form_item {
    display: table-row;
}

type {
    position: relative;
    left: 20px;
}

label,
input {
    display: table-cell;
    margin-bottom: 30px;
}

label {
    padding-right: 10px;
    padding-bottom: 10px;
}

body {
    font-family: 'Kaisei Opti', serif;
}

.Form_Btn {
    position: relative;
    top: -15px;
    left: 480px;
}