li {
    list-style: none;
    font-size: 30px;
    position: relative;
    left: 20px;
    top: 30px;
}

.con{
    display: flex; 
}
.flex img{
    width: 18%;
    height: 18%;
    position: relative;
    top: 30px;
}
.circle img{
    width: 20%;
    height: 20%;
}


body{
    font-family: 'Kaisei Opti', serif;
 }

 p{
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 20px;
 }
 

 .borrowed{
    font-size: 30px;
    position: relative;
    left: 400px;
    top: -200px;
 }

 label {
    display: block;
}
 input,
 label {
     margin: .4rem 0;
     position: absolute;
     left: 280px;
     top: 40px;
 }

 button{
    position: absolute;
    left: 460px;
    top: 45px;
 }

 

 hr{
    border-width: medium thin;
}

