li {
    list-style: none;
}

.header{
    font-size: 20px;
}

.book{
    font-size: 30px;
    line-height: 2;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.submit{
    position: relative;
    top: -20px;
    left: 200px;
}

hr{
    border-width: medium thin;
}

body{
    font-family: 'Kaisei Opti', serif;
 }
