li {
    list-style: none;
}

.flex{
    display: flex;
}

.flex img{
    width: 18%;
    position: relative;
    top: 30px;
}

.content{
    font-size: 40px;
    line-height: 2;
    
}

.header{
    font-size: 20px;
}

hr{
    border-width: medium thin;
}

body{
    font-family: 'Kaisei Opti', serif;
 }

